{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="POST" id="form">
  <section>
    <article>
      <h2>เพิ่มรายการขาย(จัดส่ง)</h2>
      <!--Begin row-->
      <div class="row">
        <!--Begin col-->
        <div class="column-100">
            {% csrf_token %}
            <!-- <form method="POST" id="form"> -->
              <!-- {% csrf_token %} -->
            <div class="row">
              <div class="column-npd">
                <p>
                  <label for="customer">นามผู้ค้า:</label>
                  <select id="customer"></select>
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="order_id">เลขที่รายการ:</label>
                  <input type="text" placeholder="order id" maxlength="200" required="" id="order_id" readonly>
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="supplier">ผู้ขนส่ง(supplier):</label>
                  <select id="supplier"></select>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="column-npd">
                <p>
                  <label for="delivery_date">วันที่ส่งสินค้า:</label>
                  <input type="text" placeholder="Delivery Date" maxlength="200" required="" id="delivery_date" name="delivery_date">
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="item">ชนิดสินค้า:</label>
                  <select id="item"></select>
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="q_sale">ปริมาณที่ขาย(คิว):</label>
                  <input type="text" placeholder="q sell" maxlength="200" required="" id="q_sale">
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="sale_price">จำนวนเงินที่ขาย:</label>
                  <input type="text" placeholder="sale price" maxlength="200" required="" id="sale_price">
                </p>
              </div>
            </div>
            <div class="row">
              <div class="column-npd">
                <p>
                  <label for="delivery_number">เลขที่ใบส่งของ:</label>
                  <input type="text" placeholder="delivery number" maxlength="200" required="" id="delivery_number">
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="sale_vat_id">เลขที่ใบกำกับภาษีขาย:</label>
                  <input type="text" placeholder="sale vat id" maxlength="200" required="" id="sale_vat_id">
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="target_location">สถานที่จัดส่ง:</label>
                  <input type="text" placeholder="target location" maxlength="200" required="" id="target_location">
                  <!-- <textarea type="text" placeholder="Your Name" maxlength="200" required="" id="first_name"></textarea> -->
                </p>
              </div>
            </div>
            <!-- <div class="row">
              <div class="column-npd">
                <p>
                  <label for="first_name">สถานที่จัดส่ง:</label>
                  <textarea type="text" placeholder="Your Name" maxlength="200" required="" id="first_name"></textarea>
                </p>
              </div>
            </div> -->
            <div class="row">
              <div class="column-npd">
                <p>
                  <label for="total_sale_amount">ยอดรับเงิน(ขาย):</label>
                  <input type="text" placeholder="total sale amount" maxlength="200" required="" id="total_sale_amount">
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="sale_pay_method">วิธีรับเงิน:</label>
                  <select  id="sale_pay_method"></select>
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="receive_date">วันที่รับเงิน:</label>
                  <input type="text" placeholder="Receive Pay Date" maxlength="200" required="" id="receive_date" name="receive_pay_date">
                </p>
              </div>
            </div>
            <div class="row">
              <div class="column-npd">
                <p>
                  <label for="first_name">เบอร์หน้างาน:</label>
                  <input type="text" placeholder="Your Name" maxlength="200" required="" id="receive_phone">
                </p>
              </div>
              <div class="column-npd">
                <p>
                  <label for="first_name">ผู้รับสินค้า</label>
                  <input type="text" placeholder="Your Name" maxlength="200" required="" id="receive_name">
                </p>
              </div>
            </div>
            <!-- </form> -->
        </div>
        <!--End col-->
      </div>
        <!--Begin col-->
      </div>
      <!--End row-->
    </article>
  </section>
  <section>
    <article>
      <h2>เพิ่มรายการซื้อ</h2>
      <!--Begin row-->
      <div class="row">
        <div class="column-npd">
          <p>
            <label for="customer_b">นามผู้ค้า:</label>
            <select id="customer_b"></select>
          </p>
        </div>
        <div class="column-npd">
          <p>
            <label for="order_id_b">เลขที่รายการ(supplier):</label>
            <input type="text" placeholder="order id" maxlength="200" required="" id="order_id_b" readonly>
          </p>
        </div>
        <div class="column-npd">
          <p>
            <label for="supplier_b">ผู้ขนส่ง(supplier):</label>
            <select  id="supplier_b"></select>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column-npd">
          <p>
            <label for="item_b">ชนิดสินค้า:</label>
            <select id="item_b"></select>
          </p>
        </div>
        <div class="column-npd">
          <p>
            <label for="q_buy">ปริมาณที่ซื้อ(คิว):</label>
            <input type="text" placeholder="q buy" maxlength="200" required="" id="q_buy">
          </p>
        </div>
        <div class="column-npd">
          <p>
            <label for="buy_price">จำนวนเงินซื้อ:</label>
            <input type="text" placeholder="buy price" maxlength="200" required="" id="buy_price">
          </p>
        </div>
        <div class="column-npd">
          <p>
            <label for="delivery_price">ค่าขนส่ง:</label>
            <input type="text" placeholder="Delivery Price" maxlength="200" required="" id="delivery_price" name="delivery_date">
          </p>
        </div>
      </div>
      <div class="row">
        <!-- <div class="column-npd">
          <p>
            <label for="first_name">เลขที่ใบส่งของ:</label>
            <input type="text" placeholder="Your Name" maxlength="200" required="" id="first_name">
          </p>
        </div> -->
        <div class="column-npd">
          <p>
            <label for="buy_vat_id">เลขที่ใบกำกับภาษีซื้อ:</label>
            <input type="text" placeholder="buy vat id" maxlength="200" required="" id="buy_vat_id">
          </p>
        </div>
        <div class="column-npd">
          <p>
            <label for="receive_location">สถานที่รับสินค้า:</label>
            <input type="text" placeholder="receive location" maxlength="200" required="" id="receive_location">
            <!-- <textarea type="text" placeholder="Your Name" maxlength="200" required="" id="first_name"></textarea> -->
          </p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="column-npd">
          <p>
            <label for="first_name">สถานที่จัดส่ง:</label>
            <textarea type="text" placeholder="Your Name" maxlength="200" required="" id="first_name"></textarea>
          </p>
        </div>
      </div> -->
      <div class="row">
        <div class="column-npd">
          <p>
            <label for="total_buy_amount">ยอดชำระรับเงิน(ซื้อ):</label>
            <input type="text" placeholder="total buy amount" maxlength="200" required="" id="total_buy_amount">
          </p>
        </div>
        <div class="column-npd">
          <p>
            <label for="buy_pay_method">วิธีชำระเงิน:</label>
            <select  id="buy_pay_method"></select>
          </p>
        </div>
        <div class="column-npd">
          <p>
            <label for="pay_date">วันที่ชำระเงิน:</label>
            <input type="text" placeholder="pay_date" maxlength="200" required="" id="pay_date" name="pay_date">
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column-npd">
          <p>
            <label for="remark">หมายเหตุ:</label>
            <textarea type="text" placeholder="remark" maxlength="200" required="" id="remark"></textarea>
          </p>
        </div>
      </div>
    </article>
  </section>
  <section style="display: flex; justify-content: flex-end;">
    <button type="button" id="reserve_button">Reserve</button>
  </section>
</form>

<script>
  $(function() {
    $("#delivery_date").datepicker({
      dateFormat: 'dd-mm-yy' // Specify the date format as day-month-year
    });

    $("#receive_date").datepicker({
      dateFormat: 'dd-mm-yy' // Specify the date format as day-month-year
    });

    $("#pay_date").datepicker({
      dateFormat: 'dd-mm-yy' // Specify the date format as day-month-year
    });

  });

  getorderitem()

  document.getElementById('reserve_button').addEventListener('click', function (e) {
    const formdata = {
      order_id : document.getElementById('order_id').value,
      customer : document.getElementById('customer').value,
      supplier : document.getElementById('supplier').value,
      item : document.getElementById('item').value,
      target_location : document.getElementById('target_location').value,
      receive_phone : document.getElementById('receive_phone').value,
      delivery_date : document.getElementById('delivery_date').value,
      delivery_number : document.getElementById('delivery_number').value,
      receive_name : document.getElementById('receive_name').value,
      q_sale : document.getElementById('q_sale').value,
      sale_price : document.getElementById('sale_price').value,
      total_sale_amount : document.getElementById('total_sale_amount').value,
      sale_pay_method : document.getElementById('sale_pay_method').value,        
      sale_vat_id : document.getElementById('sale_vat_id').value, 
      receive_date : document.getElementById('receive_date').value, 
      receive_location : document.getElementById('receive_location').value, 
      q_buy : document.getElementById('q_buy').value, 
      buy_price : document.getElementById('buy_price').value,     
      delivery_price : document.getElementById('delivery_price').value,     
      remark : document.getElementById('remark').value,     
      buy_vat_id : document.getElementById('buy_vat_id').value,     
      total_buy_amount : document.getElementById('total_buy_amount').value,     
      buy_pay_method : document.getElementById('buy_pay_method').value,     
      pay_date : document.getElementById('pay_date').value,     
    }
    console.log(formdata)

    fetch("{% url 'ordering' %}", { method: 'post', body: JSON.stringify(formdata) })
      .then(r => r.text())
      .then(data => {
        getorderitem()
      })
  })


  /*  Step 10: Part two */
  // let reservation_date = document.getElementById("reservation_date");
  // reservation_date.addEventListener('change', getBookings);


  function getorderitem() {
    
    fetch("{% url 'orderitemviews' %}")
      .then(r => r.json())
      .then(data => {
        console.log(data)
        populateDropdown(data.pay_method, 'sale_pay_method')
        populateDropdown(data.pay_method, 'buy_pay_method')
        populateDropdown(data.customer, 'customer')
        populateDropdown(data.customer, 'customer_b')
        populateDropdown(data.item, 'item')
        populateDropdown(data.item, 'item_b')
        populateDropdown(data.supplier, 'supplier')
        populateDropdown(data.supplier, 'supplier_b')

        synchronizeDropdowns('#customer','#customer_b')
        synchronizeDropdowns('#customer_b','#customer')
        // synchronizeDropdowns('#supplier','#supplier_b')
        // synchronizeDropdowns('#supplier_b','#supplier')
        synchronizeDropdowns('#item','#item_b')
        synchronizeDropdowns('#item_b','#item')

        $('#order_id').val(data.running_order_id);
        $('#order_id_b').val(data.running_order_id);
      })
  }

  function populateDropdown(data, dropdownId) {
    let dropdown = $('#' + dropdownId);
    
    // Loop through the data and append options to the dropdown
    $.each(data, function(index, item) {
        dropdown.append($('<option></option>').attr('value', item.id).text(item.name));
    });
  }

  function synchronizeDropdowns(sourceId, targetId) {
    $(sourceId).on('change', function() {
        var selectedId = $(this).val();

        // Set the selected value in the target dropdown to match the selected value in the source dropdown
        $(targetId).val(selectedId);
    });

    // Trigger change event on page load to initialize the target dropdown based on the default value of the source dropdown
    $(sourceId).trigger('change');
  }


</script>
{% endblock %}

