{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_media1600.css' %}">
<!-- <style>
  @media (max-width: 1600px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    select{
        width: 100%;
    }

    textarea{
        width: 100%;
    }

    #button{
        width: 100%;
    }

  }
</style> -->
<form method="POST" id="form">
  <section>
    <article>
      <h2>รวมรายการจัดส่ง</h2>
      <!--Begin row-->
      <div class="row">
        <!--Begin col-->
        <div class="column-100">
            {% csrf_token %}
          <main class="table custom-table">
            <!-- <section class="table_header">
              <h1>Customer's Orders</h1>
            </section> -->
            <section class="table_body">
                <table>
                    <thead>
                        <tr>
                            <th>เลขที่รายการ</th>
                            <th>นามผู้ค้า</th>
                            <th>ผู้ขนส่ง</th>
                            <th>วันที่ส่งสินค้า</th>
                            <th>ชนิดสินค้า</th>
                            <th>ปริมาณที่ขาย(คิว)</th>
                            <th>จำนวนเงินที่ขาย</th>
                            <th>เลขที่ใบส่งของ</th>
                            <th>เลขที่ใบกำกับภาษีขาย</th>
                            <th>ยอดรับเงิน(ขาย)</th>
                            <th>วิธีรับเงิน:</th>
                            <th>วันที่รับเงิน</th>
                            <th>เบอร์หน้างาน:</th>
                            <th>ผู้รับสินค้า:</th>
                        </tr>
                    </thead>
                    <tbody id="sale_tbody">
                        <!-- <tr>
                            <td>1</td>
                            <td><img src="{% static 'img/SM_badge.jpg' %}">SM_Badge</td>
                            <td>Seoul</td>
                            <td>17 dec 2022</td>
                            <td>Delivered</td>
                            <td>$128.9</td>
                        </tr> -->
                    </tbody>
                </table>
            </section>
          </main>
        </div>
        <br>
      </div>
        <!--Begin col-->
      </div>
      <!--End row-->
    </article>
  </section>
  <section>
    <article>
      <article>
        <h2>รวมรายการซื้อ</h2>
        <div class="column-100">
        <main class="table custom-table">
          <section class="table_body">
              <table>
                  <thead>
                      <tr>
                          <th>เลขที่รายการ</th>
                          <th>นามผู้ค้า</th>
                          <th>ผู้ขนส่ง</th>
                          <th>ชนิดสินค้า</th>
                          <th>ปริมาณที่ซื้อ(คิว)</th>
                          <th>ค่าขนส่ง</th>
                          <th>เลขที่ใบกำกับภาษีซื้อ</th>
                          <th>สถานที่รับสินค้า</th>
                          <th>ยอดชำระรับเงิน</th>
                          <th>วิธีชำระเงิน</th>
                          <th>วันที่ชำระเงิน</th>
                          <th>หมายเหตุ</th>
                      </tr>
                  </thead>
                  <tbody id = 'buy_tbody'>
                      <!-- <tr>
                        <td>1</td>
                        <td>SM_Badge</td>
                        <td>Seoul</td>
                        <td>17 dec 2022</td>
                        <td>Delivered</td>
                        <td>$128.9</td>
                      </tr> -->
                  </tbody>
              </table>
          </section>
        </main>
      </div> 
      </article>
    </article>
  </section>
</form>

<script>
  $(function() {
    viewTransection()

  });

  function viewTransection() {
    
    fetch("{% url 'transectionviews' %}")
      .then(r => r.json())
      .then(data => {
        console.log(data)
      // tableSaleTemplate = getTableSaleTemplate();
        genTable(data.transection_sale, 'sale_tbody', genRowSaleTemplate);
        genTable(data.transection_buy, 'buy_tbody', genRowBuyTemplate);
        
      })
  }


  function genTable(data, tableId, genRowFunction) {

    // Get the table element where you want to append rows
    const table = document.getElementById(tableId);

    // Loop through each key in transection_sale
    for (const key in data) {
        if (Object.hasOwnProperty.call(data, key)) {
            const rowData = data[key];
            const tableRow = document.createElement('tr');

            // Adding table cell data
            tableRow.innerHTML = genRowFunction(rowData);

            // Appending the created table row to the table
            table.appendChild(tableRow);
        }
    }
  }

  function genRowSaleTemplate(rowData) {
    return `
        <td>${rowData.order_id}</td>
        <td style='min-width:150px'>${rowData.customer}</td>
        <td style='min-width:150px'>${rowData.supplier}</td>
        <td style='min-width:70px'>${rowData.delivery_date}</td>
        <td style='min-width:70px'>${rowData.item}</td>
        <td>${rowData.q_sale}</td>
        <td>${rowData.sale_price}฿</td>
        <td style='min-width:150px'>${rowData.delivery_number}</td>
        <td style='min-width:150px'>${rowData.sale_vat_id}</td>
        <td>${rowData.total_sale_amount}</td>
        <td>${rowData.sale_pay_method}</td>
        <td style='min-width:70px'>${rowData.receive_date}</td>
        <td>${rowData.receive_phone}</td>
        <td>${rowData.receive_name}</td>
    `;
  }

    function genRowBuyTemplate(rowData) {
    return `
        <td>${rowData.order_id}</td>
        <td style='min-width:150px'>${rowData.customer}</td>
        <td style='min-width:150px'>${rowData.supplier}</td>
        <td style='min-width:70px'>${rowData.item}</td>
        <td>${rowData.q_buy}</td>
        <td>${rowData.delivery_price}฿</td>
        <td>${rowData.buy_vat_id}</td>
        <td style='min-width:150px'>${rowData.receive_location}</td>
        <td style='min-width:150px'>${rowData.total_buy_amount}</td>
        <td>${rowData.buy_pay_method}</td>
        <td style='min-width:70px'>${rowData.pay_date}</td>
        <td style='min-width:100px'>${rowData.remark}</td>
    `;
}


  
</script>
{% endblock %}
