{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_media1600.css' %}">
<!-- <style>
  @media (max-width: 1600px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    select{
        width: 100%;
    }

    textarea{
        width: 100%;
    }

    #button{
        width: 100%;
    }

  }
</style> -->
<form method="POST" id="form">
  <section>
    <article>
      <h2>รวมรายการจัดส่ง</h2>
      <!--Begin row-->
      <div class="row">
        <!--Begin col-->
        <div class="column-100">
            {% csrf_token %}
          <main class="table custom-table">
            <!-- <section class="table_header">
              <h1>Customer's Orders</h1>
            </section> -->
            <section class="table_body">
                <table>
                    <thead>
                        <tr>
                            <th>เลขที่รายการ</th>
                            <th>นามผู้ค้า</th>
                            <th>ผู้ขนส่ง</th>
                            <th>วันที่ส่งสินค้า</th>
                            <th>ปริมาณที่ขาย(คิว)</th>
                            <th>จำนวนเงินที่ขาย</th>
                            <th>เลขที่ใบส่งของ</th>
                            <th>เลขที่ใบกำกับภาษีขาย</th>
                            <th>ยอดรับเงิน(ขาย)</th>
                            <th>วิธีรับเงิน:</th>
                            <th>วันที่รับเงิน</th>
                            <th>เบอร์หน้างาน:</th>
                            <th>ผู้รับสินค้า:</th>
                        </tr>
                    </thead>
                    <tbody id="sale_tbody">
                        <tr>
                            <td>1</td>
                            <td><img src="{% static 'img/SM_badge.jpg' %}">SM_Badge</td>
                            <td>Seoul</td>
                            <td>17 dec 2022</td>
                            <td>Delivered</td>
                            <td>$128.9</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td><img src="{% static 'img/SM_badge.jpg' %}">SM_Badge</td>
                          <td>Seoul</td>
                          <td>17 dec 2022</td>
                          <td>Delivered</td>
                          <td>$128.9</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td><img src="{% static 'img/SM_badge.jpg' %}">SM_Badge</td>
                          <td>Seoul</td>
                          <td>17 dec 2022</td>
                          <td>Delivered</td>
                          <td>$128.9</td>
                        </tr>
                    </tbody>
                </table>
            </section>
          </main>
        </div>
        <h2>รวมรายการซื้อ</h2>
        <div class="column-100">
        <main class="table custom-table">
          <section class="table_body">
              <table>
                  <thead>
                      <tr>
                          <th>เลขที่รายการ</th>
                          <th>นามผู้ค้า</th>
                          <th>ผู้ขนส่ง</th>
                          <th>ชนิดสินค้า</th>
                          <th>ปริมาณที่ซื้อ(คิว)</th>
                          <th>ค่าขนส่ง</th>
                          <th>เลขที่ใบกำกับภาษีซื้อ</th>
                          <th>สถานที่รับสินค้า</th>
                          <th>ยอดชำระรับเงิน</th>
                          <th>วิธีชำระเงิน</th>
                          <th>วันที่ชำระเงิน</th>
                          <th>หมายเหตุ</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>SM_Badge</td>
                          <td>Seoul</td>
                          <td>17 dec 2022</td>
                          <td>Delivered</td>
                          <td>$128.9</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>SM_Badge</td>
                        <td>Seoul</td>
                        <td>17 dec 2022</td>
                        <td>Delivered</td>
                        <td>$128.9</td>
                      </tr>
                  </tbody>
              </table>
          </section>
        </main>
      </div> 
      </div>
        <!--Begin col-->
      </div>
      <!--End row-->
    </article>
  </section>
</form>

<script>
  $(function() {
    viewTransection()

  });

  tableSaleTemplate =  `
                <td>${rowData.order_id}</td>
                <td>${rowData.item}</td>
                <td>${rowData.target_location}</td>
                <td>${rowData.delivery_date}</td>
                <td>Delivered</td>
                <td>$${rowData.total_sale_amount}</td>
            `;

  tableBuyTemplate =  `
      <td>${rowData.order_id}</td>
      <td>${rowData.item}</td>
      <td>${rowData.target_location}</td>
      <td>${rowData.delivery_date}</td>
      <td>Delivered</td>
      <td>$${rowData.total_sale_amount}</td>
  `;

  function viewTransection() {
    
    fetch("{% url 'transectionviews' %}")
      .then(r => r.json())
      .then(data => {
        console.log(data)
        genTable(data.transection_sale, 'sale_tbody', tableSaleTemplate);
        
      })
  }


  function genTable(data, tableId, templateHtml) {

    // Get the table element where you want to append rows
    const table = document.getElementById(tableId);

    // Loop through each key in transection_sale
    for (const key in data) {
        if (Object.hasOwnProperty.call(data, key)) {
            const rowData = data[key];
            const tableRow = document.createElement('tr');

            // Adding table cell data
            tableRow.innerHTML = templateHtml;

            // Appending the created table row to the table
            table.appendChild(tableRow);
        }
    }
  }

  
</script>
{% endblock %}
